.postCard {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	background-color: var(--lightpurple-dark);
	border-radius: 2.5rem;

	margin: 0;
	padding: 3rem;
}

.postCard__body {
	white-space: pre-wrap;
	overflow-x: hidden;
	resize: none;
	background-color: transparent;
	border: transparent;

	font-family: "Roboto Light", system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 1.5rem;

	min-height: 25vh;
}

.postCard__body:focus,
.postCard__body:active {
	outline: none;
}

.postCard__bottomBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.postCard__bottomBar__buttons {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.postCard__bottomBar__labels {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}


.postCard__bottomBar__label {
	font-size: 1rem;
}

@media (prefers-color-scheme: light) {
	.postCard {
		background-color: var(--lightpurple-light);
	}
}